.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .filters button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .filters button:hover {
    background-color: #218838;
  }
  